.IntelliJIdea2019.3/
.cache/
.certs/
.config/Keybase/
.config/Signal/
.config/VeraCrypt/
.config/configstore/
.config/keybase/
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/nvim/autoload/
.config/nvim/plugged/
.config/restic/
.config/shortcutrc
.config/spotify/
.config/vifm/vifmshortcuts
.config/zsh/.zcompdump
.docker/
.electron-gyp/
.bash_logout
.bash_profile
.bashrc
.git-credentials
.gnupg/
.gramps/
.kube/
.local/share/larbs/wm
.local/share/newsboat/
.local/share/nvim/
.local/share/password-store/
.local/share/recently-used.xbel
.local/share/weatherreport
.local/share/xorg/
.local/share/zathura/
.megarc
.mozilla/
.node-gyp/
.npm/
.predic8
.secrets/
.ssh/
.task/
.taskrc
.vault-token
backup/
dev/
docs/
media/
predic8/
