.IntelliJIdea2019.3/
.cache/
.certs/
.config/Keybase/
.config/Signal/
.config/VeraCrypt/
.config/configstore/
.config/keybase/
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/nvim/autoload/
.config/nvim/plugged/
.config/restic/
.config/shortcutrc
.config/spotify/
.config/vifm/vifmshortcuts
.config/zsh/.zcompdump
.docker/
.electron-gyp/
.bash_logout
.bash_profile
.bashrc
.git-credentials
.gnupg/
.gramps/
.kube/
.local/share/larbs/wm
.local/share/newsboat/
.local/share/nvim/
.local/share/password-store/
.local/share/recently-used.xbel
.local/share/weatherreport
.local/share/xorg/
.local/share/zathura/
.megarc
.mozilla/
.node-gyp/
.npm/
.predic8
.secrets/
.ssh/
.task/
.taskrc
.vault-token
backup/
dev/
docs/
media/
predic8/
.zsh_history
.zcompdump-*
.oh-my-zsh/
.sdkman/
.Xauthority
.cargo/
.config/calcurse/apts
.config/calcurse/todo
.config/dconf/
.config/msmtp/
.config/mutt/
.config/notmuch-config
.gradle/
.habitctl/
.local/share/mail/
.m2/
.mbsyncrc
Downloads/
go/
tmp/
.ICAClient/
.VeraCrypt-lock-humbug
.config/VSCodium/
.config/broot/
.config/toot/
.krew/
.local/share/Trash/
.local/share/broot/
.mitmproxy/
.pki/
.vscode-oss/
.local/share/JetBrains/
.java/
.bash_history
.config/aerc/accounts.conf
.config/libreoffice/
.config/transmission/
.gem/
.local/share/ranger/
.python_history
stale_outputs_checked
.tig_history
